.container{
    background-color: palevioletred;
    width: 430px;
    margin: 10px;
    display: inline-block;
}
.container div{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container :nth-child(4n){
    margin-right: 0;
}
.container :nth-child(n+13){
    margin-bottom: 0;
}