.container {
    background-color: palevioletred;
    width: 430px;
    /* margin: 10px;
    display: inline-block; */
}
 
.container div {
    /* height: 100px; */
    width: 100px;
    background-color: blue;
    color: white;
    float: left;
    /* margin-right: 10px;
    margin-bottom: 10px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    line-height: 100px;
    text-align: center;
}

.container div:not(:nth-child(4n)) {
    margin-right: 10px;
}

.container :nth-child(-n+12) {
    margin-bottom: 10px;
}

.container::after {
    content: " ";
    display: block;
    clear: left;
}